$primary-color: #236B7A; // Основной, брендовый цвет
$secondary-color: #64939D; // Второстепенный, дополняющий
$accent-color: #F020B5; // Акцентный, для кнопок и важных элементов

// Нейтральные и системные цвета
$light-gray: #F2F6F7; // Для фонов, разделителей
$white: #FFFFFF; // Белый

// Цвета текста
$text-color-dark: #333333; // Основной цвет текста на светлом фоне
$text-color-light: $white; // Основной цвет текста на темном фоне


// 2. Типографика (Typography)
// -- 2.1. Семейства шрифтов (Font Families)
$font-family-primary: 'Manrope', sans-serif; // Основной шрифт для текста
$font-family-headings: 'Unbounded', sans-serif; // Шрифт для заголовков
$font-family-secondary: 'Montserrat', sans-serif; // Дополнительный шрифт

// -- 2.2. Насыщенность шрифта (Font Weights)
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// -- 2.3. Размеры шрифта (Font Sizes)
// Не трогать !!!
$font-size-base: 16px; // Базовый размер, используется для расчета rem()

// Заголовки
$h1-font-size-lg: 80px;
$h1-font-size-md: 70px;
$h1-font-size-sm: 24px;

$h2-font-size-lg: 70px;
$h2-font-size-md: 36px;
$h2-font-size-sm: 18px;

$h3-font-size-lg: 34px;
$h3-font-size-md: 24px;
$h3-font-size-sm: 20px;
$h3-font-size-xs: 16px;

$h4-font-size: 24px;

// Основной текст
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 8px;

$font-size-placeholder-lg: 16px;
$font-size-placeholder-md: 12px;
$font-size-placeholder-sm: 8px;

// Специальные размеры
$font-size-display: 32px; // Для крупных, выделяющихся надписей


// 3. Брейкпоинты (Breakpoints)
// Ключевые точки для адаптивного дизайна (подход Desktop-first).
$breakpoint-desktop: 1200px; // Большие ноутбуки и десктопы
$breakpoint-tablet: 768px; // Планшеты (iPad в портретном режиме)
$breakpoint-mobile: 426px; // Крупные мобильные устройства


// -----------------------------------------------------------------------------
// 4. Слои и Z-индексы (Layers & Z-Index)
// -----------------------------------------------------------------------------
// Карта для централизованного управления z-index. Используется функцией z().
$z-layers: (
  "modal": 100,
  "overlay": 90,
  "dropdown": 80,
  "header": 50,
  "default": 1
);