@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  background-color: $white;
  color: $text-color-dark;

  // Устанавливаем основной шрифт для всего приложения
  font-family: $font-family-primary;

  // Улучшаем рендеринг шрифтов
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// --- Типографика ---

// Заголовки (h1, h2, h3)
h1, h2, h3 {
  color: $text-color-dark;
}

h1 {
  @include apply-font($font-family-headings, $font-weight-medium, $h1-font-size-lg);
  line-height: 1.03;

  @include responsive($breakpoint-tablet) {
    font-size: rem($h1-font-size-md);
  }

  @include responsive($breakpoint-mobile) {
    font-size: rem($h1-font-size-sm);
  }
}

h2 {
  @include apply-font($font-family-headings, $font-weight-semibold, 36px);
}

h3 {
  @include apply-font($font-family-primary, $font-weight-bold, $font-size-display);
  line-height: 1;

  @include responsive($breakpoint-mobile) {
    font-size: rem(20px);
    line-height: 1;
  }
}

// Параграфы
p {
  @include apply-font($font-family-primary, $font-weight-medium, rem(24px));

  @include responsive($breakpoint-mobile) {
    font-size: rem($font-size-md);
  }
}

// --- Ссылки ---
a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-size: rem(16px);

  @include on-event {
    color: $secondary-color;
  }

  @include responsive($breakpoint-tablet) {
    font-size: rem(11px);
  }

  @include responsive($breakpoint-mobile) {
    font-size: rem(8px);
  }
}
