*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* 8. Сброс стандартного вида кнопок */
button {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

/* 10. ВАЖНО: Улучшение доступности для :focus-visible
* Позволяет браузеру самому решать, когда показывать обводку фокуса
* (обычно при навигации с клавиатуры), но не при клике мышью.
* Это лучшая альтернатива 'outline: none;'.
*/
:focus-visible {
  outline: 2px solid #236B7A;
  outline-offset: 2px;
}