@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: rem(1000px);

  @include responsive($breakpoint-tablet) {
    max-width: rem(724px);
  }

  @include responsive($breakpoint-mobile) {
    max-width: rem(310px);
  }
}